name: Trigger auto deployment for mattas-net-mcp

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/mattas-net-mcp-AutoDeployTrigger-2d1074f5-b25b-41ca-9ef7-b2144970ab1b.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.MATTASNETMCP_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.MATTASNETMCP_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.MATTASNETMCP_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: mattasnet.azurecr.io
          registryUsername: ${{ secrets.MATTASNETMCP_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.MATTASNETMCP_REGISTRY_PASSWORD }}
          containerAppName: mattas-net-mcp
          resourceGroup: mattas-net-mcp
          imageToBuild: mattasnet.azurecr.io/mattas-net-mcp:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


